#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

#restaurants {
    max-width: 80%;
    z-index: 1;
    margin-top: 2%;
}

.restaurant-item {
    height: 100%;
    align-items: center;
}

.restaurant-item > * {
    margin: 1%;
    flex-shrink: 1;
}

.restaurant-item > h1 {
    font-size: 5rem;
    color: rgba(231, 87, 3, 0.973);
}

.image-map {
    width: 100%;
}

.image-map > * {
    margin: 1%;
}


.image-map > img {
    object-fit: contain;
    width: 50%;
    max-height: 40vh;
}

.map-container {
    position: relative;
    min-width: 500px;
    min-height: 500px;
    width: 50%;
    height: 50%;
}

.restaurant-info {
    background-color: rgba(64, 64, 64, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.restaurant-info > * {
    width: 100%;
}

.restaurant-info > h3 {
    font-style: oblique;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 1px black;
}

.restaurant-info > p {
    font-size: 1rem;
    margin: 0;
    color: white;
}


.choices {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.choices > p {
  background: linear-gradient(to right, transparent 50%, blue 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 0.5s ease;
  letter-spacing: 3px;
  padding: 15px;
  width: 15vw;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices > p:hover {
  background-position: left bottom;
  transition: all 0.5s ease;
  color: white;
  cursor: pointer;
  outline: none;
}
