.banner-wrap{
    top:45%;
    z-index:1;
    width: 100%;
    position: absolute;
    display:flex;
    justify-content: center;
}

.opaque-me{
    width: 100%;
    height: 17vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    opacity: 0.8;
}

.logo-title{
    position: absolute;
    top: 20%;
    font-size: 10vh;
    font-family: 'Playball', cursive;
}

.app-des{
    margin-right: 8%;
    font-size: 3vh;
    font-family: 'Playball', cursive;
}