.preference-form > h1 {
    font-size: 5vh;
    margin-top: 10%;
}

.preference-form {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.preference-form > div > input {
    width: 5vw;
    font-size: 5vh;
    outline: none;
    margin-top: 15%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cuisine-types {
    width: 100%;
}

.cuisine-one, .cuisine-two {
    display: flex;
    justify-content: space-around;
}

.cuisine-one > button, .cuisine-two > button {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
}

.cuisine-one > button:hover, .cuisine-two > button:hover {
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

.selected {
    background-color: darkblue;
    color: white;
    outline: none;
}

.home-pic {
  width: 100vw;
  height: 130vh;
}

.preferences {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
}

select {
    height: 50px;
}
