$radioactive-green: hsla(180, 100%, 75%, 1);

#preference-page {
    background: url('https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preferences{
    width: 70%;
}

.selected {
    color: white;
    outline: none;
}

.cuisine-one > button:hover, .cuisine-two > button:hover {
    cursor: pointer;
    color: white;
}

#preference-form{
    width: 80vw;
}

.form-opacity-holder{
    position:relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-opacity{
    height: 100%;
    width: 100%;
    background-color: rgba(#F3B5A5, 0.9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.pref-form-container{
    position: absolute;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    width: 80%;
    justify-content: space-between;
    height: 100%;
    
    * {
        text-shadow: none;
        transition: text-shadow 0.25s linear;
        &:hover {
            text-shadow: 0 0 10px $radioactive-green;
        }
    }

    button {
        box-shadow: none;
        transition: all 0.1s linear;
        &:hover {
            box-shadow: 0 0 10px 1px $radioactive-green;
            color: hsla(120, 100%, 75%, 1);
        }
    }
}

.pref-form-container h1{
    font-size: 35px;
    padding-bottom: 3%;
}

#preference-form {
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
}

.pref-form-container{
    height: 50vh;
}
.question{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}


#price-container {
    border-radius: 4px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#price-container button {
    background-color: #EB6481;
    font-size: 2vw;
    font-weight: 600;
    padding: 5%;

    &:active {
        color: hsla(120, 100%, 75%, 1);
    }
}

#price-container > button:not(:first-child) {
    border-left: none; 
}


#find-button {
    background-color: #EB6481;
    border: none;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 2%;
} 

#find-restaurant {
    display: flex;
    justify-content: space-between;
}
#find-button{

}

.miles, .cuisine {
    text-align: end;
}