.form-title{
  padding-top: 10%;
}

.session-form{
  padding-top: 10%;
  position: relative;

}

.session-form > input {
  height: 7vh;
  width: 90%;
  font-size: 3vh;
  margin: 12px;
  padding-left: 10px;
  border: 1px solid lightgrey;
  outline: none;
  transition: all 0.25s;
}

.session-form input:focus {
  /* background-color: rgba(255, 255, 255, 0.9); */
  box-shadow: 0 0 3px 1px hsl(180, 100%, 50%);
}

.session-form input:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px 1px hsl(180, 100%, 75%);
}


.login-form > h1, .signup-form > h1 {
  margin-bottom: 5%;
  font-size: 6vh;
}

.login-signup > p {
  color: rgb(156, 148, 148);
}

.login-signup > p > a {
  cursor: pointer;
}


input[type="submit"] {
  background-color: darkblue;
  color: white;
  transition: all 0.25s;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: blue;
  box-shadow: 0 0 3px 1px hsl(204, 100%, 50%);
}


.demo-user-btn{
  height: 7vh;
  width: 90%;
  font-size: 3vh;
  margin: 12px;
  padding-left: 10px;
  background-color: darkblue;
  color: white;
  transition: all 0.25s;
}

.demo-user-btn:hover{
  cursor: pointer;
  background-color: blue;
  box-shadow: 0 0 3px 1px hsl(204, 100%, 50%);
}

.sess-errors{
  color:red;
  font-weight: 600;
}

#red-border{
  border: 1px solid red;
}

#username-icon{
  position: absolute;
  color: gray;
  top:25%;
  left:8%;
  font-size:1.5vw;
}
#password-icon{
  position: absolute;
  color: gray;
  top:53%;
  left:8%;
  font-size:1.5vw;
}

/* .input-box::placeholder{
  padding:8%
} */



#new-name-icon{
  position: absolute;
  color: gray;
  top:20%;
  left:8%;
  font-size:1.5vw;
}

#new-password-icon{
  position: absolute;
  color: gray;
  top:41.5%;
  left:8%;
  font-size:1.5vw;

}

#confirm-password-icon{
  position: absolute;
  color: gray;
  top:63%;
  left:8%;
  font-size:1.5vw;
}

#input-box{
  padding-left:10%;
  /* margin-left:10% */
}