/* animation: createBox 0.5s; */

@keyframes loginModal {
  from {
    transform: scale(0);
    /* transform: translate(0, 0); */
  }
  to {
    transform: scale(1);
    /* transform: translate(0, 100px); */
  }
}

@keyframes slideFromRight {
  from {
    transform: translate(100vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}