


.user-background-img{
    background: url('https://images.unsplash.com/photo-1491600395818-515d7b81de11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=763&q=80') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
}


.banner-holder{
    position:relative;
}
.user-background-img div{
}

.banner{
    margin-top: 10%;
    padding-left: 2%;
    padding-top: 5%;
    font-size: 50px;
    width:100vw;
    height: 10%;
    font-family: 'Playball', cursive;
    background-color: #F3B5A5;
    opacity: 50%;
}

.welcome-header{
    position: absolute;
    color:black;
    margin-top: 7%;
    padding-top: 5%;
    font-size: 60px;
    text-align: center;
    width:100%;
    font-family: 'Playball', cursive;
    top:0;
}

.collections{
    display:flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right:3%;
    background-color:#FFFFFF;
}

.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.collection-title{
    font-family: 'Bad Script', cursive;
    font-size:30px;
    font-weight: 600;
    padding-bottom: 2%;
}