.user-background-img {
    background: url('https://images.unsplash.com/photo-1491600395818-515d7b81de11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=763&q=80') no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
}


.banner-holder {
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.banner{
    position: relative;
    font-size: 50px;
    width: 100%;
    height: 10%;
    font-family: 'Playball', cursive;
    background-color: rgba(#F3B5A5, 0.7);
    border-radius: 5px;
    margin: 4% 0;
    padding: 2% 0;
}

.welcome-header{
    color: black;
    font-size: 60px;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 15px rgb(255, 230, 0);
    font-family: 'Playball', cursive;
}

.collections {
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(#dfbdfa, 0.3);
    // border-radius: 2rem;
    padding-top: 2rem;
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.collection-title {
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 3px groove rgba(#ec79fc, 1);
}

.preference-button-div {
    background-color: rgba(#dfbdfa, 0.3);
    display: flex;
    justify-content: flex-start;
}

.preference-button-div > div {
    display: flex;
    margin-top: 2%;
}


#preference-button {
    width: 15vw;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

#preference-button:hover {
    color: purple;
}
