.most-outter-wrap{
    // padding: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 2px;
    width: 30vw;
    border-top: 1px solid grey;

    // transition: all 0.1s ease-in;

}

.visited-res-wrap{
    display:flex;
    // border-top: 1px solid grey;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    // padding: 3%;
}

.most-outter-wrap:hover{
    border: 3px solid darkblue;
}



.visited-rest-img-div{
    object-fit:cover;
    height: 15vh;
    width: 10vw;
}
.visited-rest-img-div img{
    border-radius: 2px;
}

.visited-rest-basic-info-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 3%;
}


.basic-info{
    padding-bottom: 5%;
}

.visited-show-link{
    text-decoration: none;
    color: black;
    font-weight: 600;

    transition: all 0.5s ease-in-out;
}

.visited-show-link:hover{
    color: blue;
}